.blog-container {
  padding: 1.5em 3.25em;
}

.property-text {
  color: rgb(98, 151, 150);
}

.value-text {
  color: rgb(202, 180, 139);
}

h1 {
  font-size: 36px;
  text-align: start;
}

h2 {
  font-size: 28px;
  text-align: start;
}

p {
  text-align: start;
  font-size: 18px;
}

.blog-links {
  span {
    color: #527570;
    transition: 0.2s ease all;
    text-decoration: underline;
    cursor: pointer;
  }

  span:hover {
    color: #465b57;
    transition: 0.2s ease all;
  }
}
